{%extends 'core_html/base.html'%}
{%block title%}{{item.name}} Details{%endblock%}
{%block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Item Details</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Our products are insanely cheap!</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-justify">
                        {%if item.is_product_on_sale%}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <div class="badge bg-dark text-white position-absolute"
                                    style="top: 0.5rem; right: 0.5rem">SALE</div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{item.image.url}}" alt="Item image" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{item.name}}</h5>
                                            <!-- Product price-->
                                            <strike class="text-gray-500">Price: $&nbsp;{{item.price}}</strike>
                                            <p class="text-gray-500">Price: $&nbsp;{{item.sale_price}}</p>
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                            </div>
                                            <p class="text-gray-700">
                                                <strong class="text-gray-500">Description:</strong><br>
                                                {{item.description}}
                                            </p>
                                            <p class="text-gray-500"><strong>Category: {{item.category}}</strong></p>
                                            {%if request.user == item.created_by%}
                                            <div class="mt-6 p-6 bg-white rounded-xl">
                                                <p>This is your item!</p>
                                                <a href="{%url 'item:edit' item.id%}"
                                                   class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-dark rounded-xl">Edit</a>
                                                <a href="{%url 'item:delete' item.id%}"
                                                   class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-dark rounded-xl">Delete</a>
                                            </div>
                                            {%else%}
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                                href="{%url 'conversation:new' item.id%}">
                                                                                Contact Seller</a>
                                                    </div>
                                                </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%else%}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{item.image.url}}" alt="Item image" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                         <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{item.name}}</h5>
                                            <!-- Product price-->
                                            <p class="text-gray-500">Price: $&nbsp;{{item.price}}</p>
                                            <div class="d-flex justify-content-center small text-warning mb-2">
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                                <div class="bi-star-fill"></div>
                                            </div>
                                            <p class="text-gray-700">
                                                <strong class="text-gray-500">Description:</strong><br>
                                                {{item.description}}
                                            </p>
                                            <p class="text-gray-500"><strong>Category: {{item.category}}</strong></p>
                                            {%if request.user == item.created_by%}
                                            <div class="mt-6 p-6 bg-white rounded-xl">
                                                <p>This is your item!</p>
                                                <a href="{%url 'item:edit' item.id%}"
                                                   class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-dark rounded-xl">Edit</a>
                                                <a href="{%url 'item:delete' item.id%}"
                                                   class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-dark rounded-xl">Delete</a>
                                            </div>
                                            {%else%}
                                                <!-- Product actions-->
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                                                href="{%url 'conversation:new' item.id%}">
                                                                                Contact Seller</a>
                                                    </div>
                                                </div>
                                            {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {%endif%}
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 id="new-arrivals-view" class="text-center text-dark mb-5 text-3xl"><strong>Related Items</strong></h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-justify">
                        {%for item in related_items%}
                            {%if item.is_product_on_sale%}
                                <div class="col mb-5">
                                     <a href="{%url 'item:detail' item.id%}">
                                         <div class="card h-100">
                                            <div class="badge bg-dark text-white position-absolute"
                                            style="top: 0.5rem; right: 0.5rem">SALE</div>
                                            <!-- Product image-->
                                            <img class="card-img-top" src="{{item.image.url}}" alt="Item image" />
                                            <!-- Product details-->
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <!-- Product name-->
                                                    <h5 class="fw-bolder">{{item.name}}</h5>
                                                    <!-- Product price-->
                                                    <strike class="text-gray-500">Price: $&nbsp;{{item.price}}</strike>
                                                    <p class="text-gray-500">Price: $&nbsp;{{item.sale_price}}</p>
                                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                        <div class="bi-star-fill"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     </a>
                                </div>
                            {%else%}
                                <div class="col mb-5">
                                    <a href="{%url 'item:detail' item.id%}">
                                        <div class="card h-100">
                                        <!-- Product image-->
                                        <img class="card-img-top" src="{{item.image.url}}" alt="Item image" />
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                             <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder">{{item.name}}</h5>
                                                <!-- Product price-->
                                                <p class="text-gray-500">Price: $&nbsp;{{item.price}}</p>
                                                <div class="d-flex justify-content-center small text-warning mb-2">
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                    <div class="bi-star-fill"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </a>
                                </div>
                            {%endif%}
                        {%endfor%}
                </div>
            </div>
        </section>
{%endblock%}