{%extends 'seller_html/seller_base.html'%}
{%block title%}{{ title }}{%endblock%}
{%block content%}
<header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{title}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">You're almost there!</p>
                    <br><br>
                </div>
            </div>
        </header><br>
<form method="post" action="." enctype="multipart/form-data">
    {%csrf_token%}
    <div class="text-center">
        {{form.as_p}}
        <button type="submit" class="btn btn-primary mb-3">Post</button>
    </div>
</form>
{%endblock%}