{%extends 'core_html/base.html'%}
{%block title%}Reset password{%endblock%}
{%block content%}
<div class="w-2/3 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <p>Forgot password, enter your valid email below</p>
    <h1 class="mb-6 text-3xl ">Reset Password</h1>
    <form method="post" class="form">
        {%csrf_token%}
        {{form.as_p}}
        <div class="auth__actions">
            <a href="{%%url 'reset_password'}">
                <input class="btn btn--sub btn--lg" type="submit">
            </a>
        </div>
        {% if form.errors or form.non_field_errors%}
        <div class="mb-3 p-6 bg-red-100 rounded-xl">
            {%for field in form%}
             {{field.errors}}
            {%endfor%}
            {{form.non_field_errors}}
        </div>
        {%endif%}
    </form>
</div>
{%endblock%}
